@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #a2f2db;
    overflow: hidden;
   
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #8ec4b2;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 11s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 53vw;
    top: 41vh;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 43vw;
    top: 27vh;
    border-color: #bcfaef;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 85vw;
    top: 16vh;
    border-color: #d3fff7;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 33vw;
    top: 84vh;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 84vw;
    top: 99vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 7vw;
    top: 52vh;
    border-color: #d3fff7;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 24vw;
    top: 79vh;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 13vw;
    top: 46vh;
    border-color: #d3fff7;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 4vw;
    top: 24vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 72vw;
    top: 18vh;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 48vw;
    top: 3vh;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 20vw;
    top: 60vh;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 45vw;
    top: 66vh;
    border-color: #d3fff7;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 38vw;
    top: 59vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 94vw;
    top: 49vh;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 52vw;
    top: 20vh;
    border-color: #d3fff7;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 61vw;
    top: 63vh;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 59vw;
    top: 52vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 74vw;
    top: 34vh;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 68vw;
    top: 31vh;
    border-color: #d3fff7;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 82vw;
    top: 5vh;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 10vw;
    top: 89vh;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 97vw;
    top: 25vh;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 7vw;
    top: 9vh;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 0vw;
    top: 36vh;
    border-color: #d3fff7;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 27vw;
    top: 92vh;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 77vw;
    top: 94vh;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 89vw;
    top: 57vh;
    border-color: #d3fff7;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 30vw;
    top: 97vh;
    border-color: #d3fff7;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 16vw;
    top: 70vh;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 19vw;
    top: 14vh;
    border-color: #d3fff7;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 55vw;
    top: 87vh;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 96vw;
    top: 37vh;
}

.background li:nth-child(33) {
    animation-delay: 66s;
    left: 91vw;
    top: 81vh;
    border-color: #d3fff7;
}

.background li:nth-child(34) {
    animation-delay: 68s;
    left: 29vw;
    top: 73vh;
    border-color: #d3fff7;
}

.background li:nth-child(35) {
    animation-delay: 70s;
    left: 41vw;
    top: 10vh;
    border-color: #d3fff7;
}

.background li:nth-child(36) {
    animation-delay: 72s;
    left: 35vw;
    top: 67vh;
    border-color: #d3fff7;
}

.background li:nth-child(37) {
    animation-delay: 74s;
    left: 77vw;
    top: 43vh;
    border-color: #d3fff7;
}

.background li:nth-child(38) {
    animation-delay: 76s;
    left: 64vw;
    top: 1vh;
}

.background li:nth-child(39) {
    animation-delay: 78s;
    left: 66vw;
    top: 76vh;
}







  

  